<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-info form-control mt-2 "> Banner Management</button> </a>
    <a href="/admin/Service"><button class="btn btn-info form-control mt-2" > Service Management</button> </a>
    <a href="/admin/testinominals"><button class="btn btn-info form-control mt-2">Testinominals Management</button> </a>
    <a href="/admin/address"><button class="btn btn-info form-control mt-2">Address Management</button> </a>
    <a href="/admin/query"><button class="btn btn-info form-control mt-2">Query Management</button> </a>

</div>
